# Compiled object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Static Libraries
*.lib
*.a

# Compiled Dynamic Libraries
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# SDL build files (if using CMake or build systems)
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS Code settings
.vscode/

# macOS stuff
.DS_Store

# Logs
*.log
